{% extends '::Backend/base.html.twig' %}

{% block body -%}
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Editar</h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Editar Produto</h3>
                </div><!-- /.box-header -->
                <section class="content-header">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('backend_product_index') }}"><i class="fa fa-gift"></i> Produto</a></li>
                        <li class="active">Editar</li>
                    </ol>
                </section>
                <div class="box-body table-responsive no-padding">

                    <form class="" action="{{ path('backend_product_edit',{'id': product.id}) }}" method="post" {{ form_enctype(edit_form) }}>
                        {{ form_widget(edit_form._token) }}

                        {% block messages %}
                            {{ parent() }}
                            {{ form_errors(edit_form) }}
                        {% endblock %}

                        {% include 'AppBundle:Backend/Product:form.html.twig' with {'form': edit_form} %}

                            <div class="box-footer">
                                <button type="submit" class="btn btn-success">Editar</button>
                                <a href="{{ path('backend_product_index') }}" class="btn btn-default">Voltar</a>
                            </div>

                    </form>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2'
        '@AppBundle/Resources/public/js/custom/Product/form.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
