{% extends '::Backend/base.html.twig' %}

{% block body %}
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Confirmação de pagamento</h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Seus lanches</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        {#
                                        <th>
                                            <input type="checkbox" name="" id="check-all"/>
                                        </th>
                                        #}
                                        <th>Nome</th>
                                        <th>Quantidade</th>
                                        <th>Preço</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for produto in produtos %}
                                        <tr>
                                            <td>{{ produto.product.product.name }}</td>
                                            <td>{{ produto.quantidade }}</td>
                                            <td>
                                                R${{ produto.product.costvalue }}
                                            </td>
                                            <td>
                                                R${{ produto.product.costvalue * produto.quantidade }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
            <tr>
                <td>
                    Valor total: R${{ value|number_format(2, '.', ',') }}
                </td>
            </tr>
            <br><br>
            <a href="{{ path('backend_product_laboratory_finish',{'tipo': 'boleto','id': id}) }}" class="btn btn-success btn-group">Enviar</a>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2'
        '@AppBundle/Resources/public/js/custom/Product/list.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
